  <div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);">
    <div class="container">
      <h1 class="banner-dimension text-center text-white display-1 text-shadow"><%= @list.name %></h1>
    </div>
  </div>

    <div class="container">
      <div class="cards">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-movie">
          <img src="https://source.unsplash.com/random/?<%=bookmark.movie.title%>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"/>
              <div class="card-movie-infos">
              <h2><%=  bookmark.movie.title %></h2>
                <p><%=%> <%=bookmark.movie.overview %> | <%=link_to bookmark.movie.poster_url %></p>
                <span class="text-lg-right"><%=bookmark.movie.rating%>/10 </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


<%= link_to '+add Bookmark',  new_list_bookmark_path(@list)  %>
<%= link_to '<= back to lists', lists_path %>
